* {
    font-family: 'Poppins', sans-serif;
}

.btn.btn-brand, .btn.btn-brand:hover{
    color: #ffffff;
    background-color: #FF4800;
}
.btn.btn-brand:hover{
    color: #ffffff;
    background-color: #f95312;
}

.embedded_img{
    margin-top: 50px;
    height: 100px;
    width: 100px;
}

.embedded_img_text{
    margin-top: 50px;
    padding: 15px 0;
    height: 100px;
    width: 100px;
}

.card-header{
    float: right;
    content: url('../asset/arrow-up-right.svg');
}

.list-group-item{
    padding: 5px 0;
    font-weight: 400;
    font-size: small;
}

.horizontal_line{
    margin: 3px;
}

.footer_bold{
    font-weight: 600;
}

.social_media{
    color: #999999;
    margin-right: 50px;
}

.social_media:hover{
    color: #FF4800;
}

.try_it_free_btn{
    padding: 10px;
}

#header_section{
    background-image: linear-gradient(89.97deg, #efeaf3 0.02%, #F5F3FC 53.03%, #F2F1FE 99.97%);
    padding-top: 50px;
}

#header_section #content_group{
    padding: 90px;
}

#header_section #content_group #content_primary{
    font-size: 48px;
    font-weight: 700;
    color: #334155;
}

#header_section #content_group #content_secondary{
    font-weight: 400;
    color: #4F4F4F;
    font-size: 18px;
}

#solution_section #solution_card{
    padding: 70px 0 0 0;
}

#solution_section #solution_card #solution_title{
    padding-top: 70px;
}

#solution_section #solution_card #solution_content{
    font-weight: 400;
    font-size: 18px;
    color: #4F4F4F;
}

#solution_section #solution_card #solution_image{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 0px 35px 6px rgba(121, 110, 253, 0.1);
    border-radius: 8px;
}

#embedded_section #embedded_js{
    background: #FFFAF5;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #E1E1E1;
    box-shadow: 0px 10px 48px rgba(121, 110, 253, 0.1);
    border-radius: 8px;
}

#embedded_section #embedded_ng{
    background: #EDFAFF url('../asset/blue.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

#embedded_section #embedded_react{
    background: #FFF2FB url('../asset/pink.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

#embedded_section #embedded_blazor{
    background: #F4F7FF url('../asset/violet.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

#embedded_section #embedded_core{
    background: #E4F9F6 url('../asset/green.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

#embedded_section #embedded_mvc{
    background: #FFEEE8 url('../asset/orange.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: 1px solid #E1E1E1;
    border-radius: 8px;
}

#server_section{
    padding: 70px 0 100px 0;
}

#server_section #server_card #server_title{
    padding-top: 70px;
}

#server_section #server_card #server_content{
    font-weight: 400;
    font-size: 18px;
    color: #4F4F4F;
}

#server_section #server_card #server_image{
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 0px 0px 35px 6px rgba(121, 110, 253, 0.1);
    border-radius: 8px;
}

#footer_section{
    padding-top: 70px;
}

#footer_section .card, #footer_section2 .card, #copyrights_section .card{
    border: 0;
}

#copyrights_section .copyrights_text{
    font-size:medium;
    font-weight: 400;
    text-decoration: none;
    color: #4F4F4F;
}

#copyrights_section .copyrights_policy, #copyrights_section .copyrights_terms{
    font-size:medium;
    font-weight: 400;
    text-decoration: none;
    color: #FF4800; 
}

#copyrights_section .copyrights_policy:hover, #copyrights_section .copyrights_terms:hover{
    color: #AD3224;
}

#try_it_free_section{
    background: linear-gradient(90.13deg, #F4F8FF 3.58%, #FFF5F1 99.88%);
    filter: drop-shadow(0px 4px 20px rgba(47, 85, 212, 0.15));
}

#try_it_free_section .col{
    padding: 30px 0 50px 0;
}

#try_it_free_section .card{
    background-color: transparent;
    border: 0;
}